<div id="user" class="page-layout simple tabbed" layout="column">

  <!-- HEADER -->
  <div class="header sectionHeaderMain" layout="row" layout-align="space-between center">
    <div class="white-fg" layout="column" layout-align="start start">
      <div class="h1" layout="row" layout-align="start center">
        <img ng-src="{{vm.user.avatar.full}}" width="200px" height="200px" ng-show="vm.user.hasImage" class="avatar"/>
        <img ng-src="assets/images/avatars/profile.jpg" width="200px" height="200px" ng-show="!vm.user.hasImage" class="avatar"/>
        <h1>{{vm.user.legal_name.first}} {{vm.user.legal_name.last}} ({{vm.user.role}})</h1>
      </div>
    </div>
    <div>
      <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                 translate="EC.SAVE" ng-disabled="location.$invalid || location.$pristine" ng-click="vm.saveUser()">
        Save
      </md-button>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">
    <md-content>
      <div layout="row" layout-align="space between">
        <md-button class="md-fab" aria-label="Eat cake">
          <md-icon class="material-icons">brightness_3</md-icon>
        </md-button>

      </div>
    </md-content>

  </div>
  <!-- / CONTENT -->

</div>
